nifi/demo-chromadb-upsert.json
{"snapshotMetadata":{"bucketIdentifier":null,"flowIdentifier":"6a217413-54ee-44ef-b2ab-44740d410f3d","version":0,"timestamp":1721223351528,"author":null,"comments":null,"link":null},"flowContents":{"identifier":"0eb0f704-9840-4543-9496-f113a4c5ce2d","instanceIdentifier":null,"name":"demo-chromadb-upsert","comments":null,"position":{"x":0.0,"y":0.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"0b439db0-530c-455e-b86a-fda57a00f7cf","instanceIdentifier":null,"name":"Split objects into single json","comments":"","position":{"x":161.0,"y":117.5},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.25.0.2.3.13.0-36"},"properties":{"Null Value Representation":"empty string","Max String Length":"20 MB","JsonPath Expression":"$"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0eb0f704-9840-4543-9496-f113a4c5ce2d"},{"identifier":"ec76fb76-3d3d-4e58-8441-b0d14afbce2e","instanceIdentifier":null,"name":"Extract information from records","comments":"","position":{"x":157.0,"y":394.5},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.25.0.2.3.13.0-36"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","inputs":"$.ticket_description","Return Type":"auto-detect","ids":"$.ticket_id","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"inputs":{"name":"inputs","displayName":"inputs","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"ids":{"name":"ids","displayName":"ids","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0eb0f704-9840-4543-9496-f113a4c5ce2d"},{"identifier":"b77dc590-b9ee-48a5-9387-da64195a0a9e","instanceIdentifier":null,"name":"Define parameters","comments":"","position":{"x":157.59774780273438,"y":705.5},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.25.0.2.3.13.0-36"},"properties":{"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","parameters":"{\"ids\":\"${ids}\"}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"parameters":{"name":"parameters","displayName":"parameters","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0eb0f704-9840-4543-9496-f113a4c5ce2d"},{"identifier":"15ec4a37-5632-46e5-8acc-356371aae20a","instanceIdentifier":null,"name":"FetchCDPObjectStore","comments":"","position":{"x":165.0878867676102,"y":-150.5006583278473},"type":"org.apache.nifi.processors.hadoop.FetchCDPObjectStore","bundle":{"group":"com.cloudera","artifact":"nifi-cdf-objectstore-nar","version":"1.0.0.2.3.13.0-36"},"properties":{"Kerberos Principal":"#{CDP Username}","filename":"${path}/${filename}","Kerberos Password":"#{CDP Password}"},"propertyDescriptors":{"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"filename":{"name":"filename","displayName":"Filename","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Kerberos Password":{"name":"Kerberos Password","displayName":"CDP Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"cdp-storage-location":{"name":"cdp-storage-location","displayName":"Storage Location","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"CDP Username","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["comms.failure","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0eb0f704-9840-4543-9496-f113a4c5ce2d"},{"identifier":"a3364e23-144f-4a8a-957d-52e277bff006","instanceIdentifier":null,"name":"Create body request","comments":"","position":{"x":171.4891357421875,"y":994.0108642578125},"type":"org.apache.nifi.processors.standard.AttributesToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.25.0.2.3.13.0-36"},"properties":{"Destination":"flowfile-content","Null Value":"false","Attributes List":"parameters,inputs","Pretty Print":"false","Include Core Attributes":"false","JSON Handling Strategy":"NESTED"},"propertyDescriptors":{"attributes-to-json-regex":{"name":"attributes-to-json-regex","displayName":"Attributes Regular Expression","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Null Value":{"name":"Null Value","displayName":"Null Value","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Attributes List":{"name":"Attributes List","displayName":"Attributes List","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Include Core Attributes":{"name":"Include Core Attributes","displayName":"Include Core Attributes","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"JSON Handling Strategy":{"name":"JSON Handling Strategy","displayName":"JSON Handling Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0eb0f704-9840-4543-9496-f113a4c5ce2d"},{"identifier":"624040a1-f13c-4736-a1ce-a3c914cf1fe6","instanceIdentifier":null,"name":"Upsert into chroma","comments":"","position":{"x":622.7363662970859,"y":985.1164856961559},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.25.0.2.3.13.0-36"},"properties":{"use-etag":"false","Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"#{chroma_endpoint_url}","Content-Type":"application/json","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","Read Timeout":"15 secs","Socket Write Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","SSL Context Service":"9606477c-bdd0-483f-b273-7f513e6f6637","Digest Authentication":"false","HTTP Method":"POST","Add Response Headers to Request":"false","Include Date Header":"True","Penalize on \"No Retry\"":"false"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Response","No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0eb0f704-9840-4543-9496-f113a4c5ce2d"},{"identifier":"700fd0cd-5d98-4a5f-b12b-9e1937724d9c","instanceIdentifier":null,"name":"ListCDPObjectStore","comments":"","position":{"x":163.59874268783557,"y":-467.6869633004727},"type":"org.apache.nifi.processors.hadoop.ListCDPObjectStore","bundle":{"group":"com.cloudera","artifact":"nifi-cdf-objectstore-nar","version":"1.0.0.2.3.13.0-36"},"properties":{"Kerberos Password":"#{CDP Password}","Kerberos Principal":"#{CDP Username}","Recurse Subdirectories":"false","file-filter-mode":"filter-mode-files-only","File Filter":"[^\\.].*\\.json","Directory":"#{Directory}"},"propertyDescriptors":{"maximum-file-age":{"name":"maximum-file-age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"cdp-storage-location":{"name":"cdp-storage-location","displayName":"Storage Location","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"file-filter-mode":{"name":"file-filter-mode","displayName":"File Filter Mode","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Kerberos Password":{"name":"Kerberos Password","displayName":"CDP Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"CDP Username","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"minimum-file-age":{"name":"minimum-file-age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0eb0f704-9840-4543-9496-f113a4c5ce2d"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"543d0fc2-0ee9-474e-bca7-00b93af97d18","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"700fd0cd-5d98-4a5f-b12b-9e1937724d9c","type":"PROCESSOR","groupId":"0eb0f704-9840-4543-9496-f113a4c5ce2d","name":"ListCDPObjectStore","comments":null,"instanceIdentifier":null},"destination":{"id":"15ec4a37-5632-46e5-8acc-356371aae20a","type":"PROCESSOR","groupId":"0eb0f704-9840-4543-9496-f113a4c5ce2d","name":"FetchCDPObjectStore","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0eb0f704-9840-4543-9496-f113a4c5ce2d"},{"identifier":"67a02b92-6ea4-4d97-9a65-7ae06ed06f59","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"15ec4a37-5632-46e5-8acc-356371aae20a","type":"PROCESSOR","groupId":"0eb0f704-9840-4543-9496-f113a4c5ce2d","name":"FetchCDPObjectStore","comments":null,"instanceIdentifier":null},"destination":{"id":"0b439db0-530c-455e-b86a-fda57a00f7cf","type":"PROCESSOR","groupId":"0eb0f704-9840-4543-9496-f113a4c5ce2d","name":"Split objects into single json","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0eb0f704-9840-4543-9496-f113a4c5ce2d"},{"identifier":"c6491157-ab79-43b0-82b1-2626f8a37fd7","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"ec76fb76-3d3d-4e58-8441-b0d14afbce2e","type":"PROCESSOR","groupId":"0eb0f704-9840-4543-9496-f113a4c5ce2d","name":"Extract information from records","comments":null,"instanceIdentifier":null},"destination":{"id":"b77dc590-b9ee-48a5-9387-da64195a0a9e","type":"PROCESSOR","groupId":"0eb0f704-9840-4543-9496-f113a4c5ce2d","name":"Define parameters","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0eb0f704-9840-4543-9496-f113a4c5ce2d"},{"identifier":"6dda77c6-7198-4a15-aeb2-d574d28340a3","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"0b439db0-530c-455e-b86a-fda57a00f7cf","type":"PROCESSOR","groupId":"0eb0f704-9840-4543-9496-f113a4c5ce2d","name":"Split objects into single json","comments":null,"instanceIdentifier":null},"destination":{"id":"ec76fb76-3d3d-4e58-8441-b0d14afbce2e","type":"PROCESSOR","groupId":"0eb0f704-9840-4543-9496-f113a4c5ce2d","name":"Extract information from records","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0eb0f704-9840-4543-9496-f113a4c5ce2d"},{"identifier":"381cb829-1850-4a3a-b057-e0431554a734","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"a3364e23-144f-4a8a-957d-52e277bff006","type":"PROCESSOR","groupId":"0eb0f704-9840-4543-9496-f113a4c5ce2d","name":"Create body request","comments":null,"instanceIdentifier":null},"destination":{"id":"624040a1-f13c-4736-a1ce-a3c914cf1fe6","type":"PROCESSOR","groupId":"0eb0f704-9840-4543-9496-f113a4c5ce2d","name":"Upsert into chroma","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0eb0f704-9840-4543-9496-f113a4c5ce2d"},{"identifier":"3ad77b9f-3be9-46e9-9e04-ddd98eec2292","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"b77dc590-b9ee-48a5-9387-da64195a0a9e","type":"PROCESSOR","groupId":"0eb0f704-9840-4543-9496-f113a4c5ce2d","name":"Define parameters","comments":null,"instanceIdentifier":null},"destination":{"id":"a3364e23-144f-4a8a-957d-52e277bff006","type":"PROCESSOR","groupId":"0eb0f704-9840-4543-9496-f113a4c5ce2d","name":"Create body request","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0eb0f704-9840-4543-9496-f113a4c5ce2d"}],"labels":[],"funnels":[],"controllerServices":[],"versionedFlowCoordinates":null,"variables":{},"parameterContextName":"demo-chromadb-upsert","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","logFileSuffix":null,"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":null},"externalControllerServices":{"9606477c-bdd0-483f-b273-7f513e6f6637":{"identifier":"9606477c-bdd0-483f-b273-7f513e6f6637","name":"Default NiFi SSL Context Service"}},"parameterProviders":null,"parameterContexts":{"demo-chromadb-upsert":{"identifier":"5882e827-d26e-4d4d-ba1e-e92027939ca6","instanceIdentifier":null,"name":"demo-chromadb-upsert","comments":null,"position":null,"parameters":[{"name":"CDP Username","description":null,"sensitive":false,"provided":false,"value":"<CDP Username>"},{"name":"CDP Password","description":null,"sensitive":true,"provided":false,"value":null},{"name":"Directory","description":"","sensitive":false,"provided":false,"value":"/data/files"},{"name":"chroma_endpoint_url","description":null,"sensitive":false,"provided":false,"value":"https://<CML application endpoint>/upsert"}],"inheritedParameterContexts":null,"description":null,"parameterProvider":null,"parameterGroupName":null,"synchronized":null,"componentType":"PARAMETER_CONTEXT","groupIdentifier":null}},"flowEncodingVersion":null,"flow":null,"bucket":null}